.env
__pycache__
.vscode
./Data/
./Images
data.py
langchain.py
text_files/index.php_2015-09-29-21-10-02_palia-teyxi.txt
text_files/index.php_2015-09-29-21-10-02_teyxos-14.txt
text_files/index.php_2015-09-29-21-10-02.txt
text_files/index.php_activities_2015-11-05-22-41-14_perivallontika.txt
text_files/index.php_activities_2015-11-05-22-41-14_politistika.txt
text_files/index.php_activities_athletics_sxoliko-etos-2015-2016.txt
text_files/index.php_activities_athletics_sxoliko-etos-2016-2017.txt
text_files/index.php_activities_athletics_sxoliko-etos-2017-2018.txt
text_files/index.php_activities_educational_sxoliko-etos-2015-2016.txt
text_files/index.php_activities_educational_sxoliko-etos-2016-2017.txt
text_files/index.php_activities_educational_sxoliko-etos-2017-2018.txt
text_files/index.php_activities_educational_sxoliko-etos-2018-2019.txt
text_files/index.php_activities_educational_sxoliko-etos-2021-2022.txt
text_files/index.php_activities_educational_sxoliko-etos-2022-2023.txt
text_files/index.php_activities_educational_sxoliko-etos-2023-2024.txt
text_files/index.php_activities_national-holidays_eortes-2018-2019.txt
text_files/index.php_activities_national-holidays_sxoliko-etos-2015-2016.txt
text_files/index.php_activities_national-holidays_sxoliko-etos-2016-2017.txt
text_files/index.php_activities_national-holidays_sxoliko-etos-2017-2018.txt
text_files/index.php_activities_national-holidays_sxoliko-etos-2019-2020.txt
text_files/index.php_activities_national-holidays_sxoliko-etos-2020-2021.txt
text_files/index.php_activities_national-holidays_sxoliko-etos-2022-2023.txt
text_files/index.php_activities_national-holidays_sxoliko-etos-2023-2024.txt
text_files/index.php_activities_school-trip.txt
text_files/index.php_contact-us.txt
text_files/index.php_home_about-us.txt
text_files/index.php_news-events_announcements.txt
text_files/index.php_news-events_mathitikoi-diagonismoi.txt
text_files/index.php_news-events_panellinies-eksetaseis.txt
text_files/index.php_news-events_school-news.txt
text_files/index.php_our-school_5meli-symvoylia.txt
text_files/index.php_our-school_15meles-symvoulio.txt
text_files/index.php_our-school_2023-09-04-15-38-33_sxoliko-etos-2021-2022.txt
text_files/index.php_our-school_2023-09-04-15-38-33_sxoliko-etos-2022-2023.txt
text_files/index.php_our-school_esoterikos-kanonismos.txt
text_files/index.php_our-school_imera-goneon.txt
text_files/index.php_our-school_orario-mathimaton.txt
text_files/index.php_our-school_orologio-programma-mathimaton.txt
text_files/index.php_our-school_school-infrastructure_computer-lab.txt
text_files/index.php_our-school_school-infrastructure_gymnastics.txt
text_files/index.php_our-school_school-infrastructure_library.txt
text_files/index.php_our-school_school-infrastructure.txt
text_files/index.php_our-school_school-staff.txt
text_files/index.php_our-school_syllogos-goneon-kai-kidemonon.txt
text_files/index.php_our-school_ypeythynoi-tmimaton.txt
text_files/index.php_our-school.txt
text_files/index.php_school-work_2015-10-07-09-26-15_mathimatika.txt
text_files/index.php_school-work_video-apo-ekdiloseis.txt
text_files/index.php_school-work_vivlia-kai-voithimata.txt
text_files/index.php.txt
Data/Data.json
Data/scraped.csv
